@charset "UTF-8";
#container{
	padding:30px;
	width:550px;
	justify-content:space-between;
	background:pink;
	display:flex;
	}
	#boxA{
	margin:30px;
	}
	#boxB .imgBox{
	border-radius:10px;
	overflow:hidden;
	width:200px;
	background:#fff;
	padding:20px 10px 5px;
	}
	#boxB .imgBox img{
	width:100%;
	}